*~
.DS_Store
*.txt.user
*.autosave
.vs
CMakeSettings.json
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/timestamp.cmake
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-2edded97a3a6c7bb7630.json
build/.cmake/api/v1/reply/cmakeFiles-v1-9a92fc63c7991ff6a667.json
build/.cmake/api/v1/reply/codemodel-v2-21bec68471715261ae2a.json
build/.cmake/api/v1/reply/index-2023-06-05T19-11-20-0776.json
build/.cmake/api/v1/reply/target-build-Debug-54aefb59ef5d75c8e2e0.json
build/.cmake/api/v1/reply/target-fundamentals-Debug-602a59108a89a3ec12c5.json
build/.cmake/api/v1/reply/target-fitsio-Debug-54a4df90f9e7c8fa8391.json
build/.cmake/api/v1/reply/target-mpi-Debug-2c4dd630c6523f5d92e3.json
build/.cmake/api/v1/reply/target-schema-Debug-90a455478e90b1ae8e78.json
build/.cmake/api/v1/reply/target-serialize-Debug-474d2f942db00a865267.json
build/.cmake/api/v1/reply/target-skirt-Debug-c9d81ca1402e7d6674f9.json
build/.cmake/api/v1/reply/target-skirtcore-Debug-1ab03101a3d90f40e6ea.json
build/.cmake/api/v1/reply/target-timestamp-Debug-faf39af3d424ee3ceb78.json
build/.cmake/api/v1/reply/target-utils-Debug-d16175f749c22e7b0010.json
build/.cmake/api/v1/reply/target-voro-Debug-cd37e652a1b9711225e2.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.19.7/CMakeCCompiler.cmake
.gitignore
build/CMakeFiles/3.19.7/CMakeCXXCompiler.cmake
build/CMakeFiles/3.19.7/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.19.7/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.19.7/CMakeSystem.cmake
build/CMakeFiles/3.19.7/CompilerIdC/a.out
build/CMakeFiles/3.19.7/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.19.7/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.19.7/CompilerIdCXX/a.out
build/SKIRT/cmake_install.cmake
build/SKIRT/core/cmake_install.cmake
build/SKIRT/fitsio/cmake_install.cmake
build/SKIRT/main/cmake_install.cmake
build/SKIRT/mpi/cmake_install.cmake
build/SKIRT/utils/cmake_install.cmake
build/SMILE/cmake_install.cmake
build/SKIRT/voro/cmake_install.cmake
build/SMILE/build/cmake_install.cmake
build/SMILE/build/version.h
build/SMILE/fundamentals/cmake_install.cmake
build/SMILE/schema/cmake_install.cmake
build/SMILE/serialize/cmake_install.cmake
.gitignore
.gitignore
